<h4 class="text-success">
    Your request to enroll this course has been sent
</h4>

@section Scripts{
    <script>
        window.setTimeout(function(){
            window.location.href='/Authenticated/Trainee/AvailableCourse';
            }, 4000);
    </script>
}