@page
@using App_Dev.Utility
@using App_Dev.Utility.Enum
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Staff))
        {
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control"/>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control"/>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Education"></label>
                    <input asp-for="Input.Education" class="form-control"/>
                    <span asp-validation-for="Input.Education" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.DateOfBirth"></label>
                    <input asp-for="Input.DateOfBirth" class="form-control"/>
                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                </div>
                
                <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            </form>
        }
        @if (User.IsInRole(SD.Role_Trainee))
        {
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control"/>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control"/>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Education"></label>
                    <input asp-for="Input.Education" class="form-control"/>
                    <span asp-validation-for="Input.Education" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.DateOfBirth"></label>
                    <input asp-for="Input.DateOfBirth" class="form-control"/>
                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.MainProgrammingLanguage"></label>
                    <input asp-for="Input.MainProgrammingLanguage" class="form-control"/>
                    <span asp-validation-for="Input.MainProgrammingLanguage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ToeicScore"></label>
                    <input asp-for="Input.ToeicScore" class="form-control"/>
                    <span asp-validation-for="Input.ToeicScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ExperimentDetail"></label>
                    <textarea asp-for="Input.ExperimentDetail" class="form-control"></textarea>
                    <span asp-validation-for="Input.ExperimentDetail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.department"></label>
                    <select asp-for="Input.department" asp-items="Html.GetEnumSelectList<Department>()" class="form-control">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Input.department" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Location"></label>
                    <input asp-for="Input.Location" class="form-control"/>
                    <span asp-validation-for="Input.Location" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            </form>
        }
        @if (User.IsInRole(SD.Role_Trainer))
        {
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled/>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control"/>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control"/>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Education"></label>
                    <input asp-for="Input.Education" class="form-control"/>
                    <span asp-validation-for="Input.Education" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.DateOfBirth"></label>
                    <input asp-for="Input.DateOfBirth" class="form-control"/>
                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.typeOfTrainer"></label>
                    <select asp-for="Input.typeOfTrainer" asp-items="Html.GetEnumSelectList<TypeOfTrainer>()" class="form-control">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Input.typeOfTrainer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.WorkingPlace"></label>
                    <input asp-for="Input.WorkingPlace" class="form-control"/>
                    <span asp-validation-for="Input.WorkingPlace" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            </form>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}